$color-primaire:#9356DC;
$color-primaire-eclaircie:#a877e3;//Amont 20//
$color-secondaire: #FF79DA;
$color-secondaire-eclaicie: #fe93e1;//Amont 20//
$color-terciaire: #99D2E0;
$color-gris-clair:#f6f6f6;
$color-gris-foncé:#353535;
$color-gris:#eaeaea;
$color-gris-icon:#7e7e7e;
$color-vert-clair:#99e2d0;
$color-vert:#51b79e;

