header{
    display: flex;
    justify-content: center;    
    
    h1{
        font-family:'Shrikhand';
        font-size: 28px;
        margin: 15px 0 7px -10px;     
    }
    .retour{
        position: relative;
        left:5%;
    }
    img {
            width:25px;
            color: $color-gris-icon;
            
    }
}

footer{
    background-color: $color-gris-foncé;
    color :white;
    padding: 2px 25px;
    height: 220px;
    line-height: 30px;
    a{
        text-decoration: none;
        color: white;
        line-height: 28px;
        font-weight: 500; 
        font-size: 15px;  
    }
    h4{
    font-family:'shrikhand';
    font-size: 17px;
    }
    .fa-utensils{
        
        font-size: 15px;
        margin-right:12px;
    }
    .fa-handshake-angle{
        
        font-size: 12px;
        margin-right:9px;
    }
    .liste-footer{
        display: flex;
        flex-direction: column;
        margin-top : -10px;
    }
   
}