 .icon-coeur {
        
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0px 25px 0 0;
        width: 60px;
        color: $color-gris-icon;
        cursor: pointer;
        .fa-solid{
        display:none;
        color: transparent;
        background-clip: text;
        background-image: -moz-linear-gradient(90deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
        }
    }
    .icon-coeur:hover, .icon-coeur:focus{
        
        .fa-regular{
            display: none;
        }
        .fa-solid{            
            display: flex;           
        }
    }