@keyframes deplacement-gauche {
    0%{
        transform: translateX(0px);       
        width: 0px;
    }
    100%{
        transform: translateX(-65px);
        width: 80px;

    }
    
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);       
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.choix-carte{ 

    .animation-selection{
        position: relative;
        left: 80px;
        top: -27px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 0;
        height: 78px;
        margin-bottom: -32px;
        background-color:$color-vert-clair;
        animation:all  1s ease ;
    
    }
    .fa-circle-check{
        background-color: white;
        border-radius: 50%;
        font-size: 28px;
        border: 3px solid $color-vert-clair;
        width: 26px;
    } 

    &:hover{
            .animation-selection{
                            
                    animation-fill-mode: both;
                    animation-duration: 500ms;
                    animation-name: deplacement-gauche;
                    animation-direction: alternate;
                    animation-iteration-count: 1;
            
            }

            .fa-circle-check{
                    display:inline-block;
                    animation-name: rotation;
                    color: $color-vert-clair;
                    background-color: white;
                    animation-duration: 450ms;
                    animation-iteration-count:1;
                    animation-timing-function: linear;
                            
            }
        
            }
    }
