@keyframes deplacement-gauche {
    0%{
        transform: translateX(0px);       
        width: 0px;
    }
    100%{
        transform: translateX(-65px);
        width: 80px;

    }
    
}
@keyframes rotation {
    0%{
        transform: rotate(1deg);       
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.choix-carte{ 
        

        &:hover{
            .animation-selection{
                
                animation-fill-mode: both;
                animation-duration: 0.5s;
                animation-name: deplacement-gauche;
                animation-direction: alternate;
                animation-iteration-count: 1;
            }
            .fa-circle-check{
                display:inline-block;
                animation-name: rotation;
                color: $color-vert-clair;
                background-color: white;
                animation-duration: 400ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
            }
        }
    }
