@keyframes deplacement-gauche {
    0%{
        transform: translateX(0px);
        width: 0px;
    }
    100%{
        transform: translateX(-65px);
        width: 80px;

    }
    
}
/*@keyframes deplacement-droite {
    0%{
        transform: translateX(0px);
        
    }
    100%{
        transform: translateX(0px);
        width: 0px;

    }
    
}*/

.choix-carte{ 
    /*.animation-selection{
        animation-name: deplacement-droite;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: both;
*/

        &:hover{
            .animation-selection{
                
                display:flex;
                animation-fill-mode: both;
                animation-duration: 0.5s;
                animation-name: deplacement-gauche;
                animation-direction: alternate;
                animation-iteration-count: 1;
            }
            .fa-spin-pulse{
                display:flex;
                color: $color-vert-clair;
                animation-duration: 400ms;
                animation-iteration-count: 1;
                animation-timing-function: linear;
            }
        }
    }
