@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
header {
  display: flex;
  justify-content: center;
}
header h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  margin: 15px 0 7px -10px;
}
header .retour {
  position: relative;
  left: 5%;
}
header img {
  width: 25px;
  color: #7e7e7e;
}

footer {
  background-color: #353535;
  color: white;
  padding: 2px 25px;
  height: 220px;
  line-height: 30px;
}
footer a {
  text-decoration: none;
  color: white;
  line-height: 28px;
  font-weight: 500;
  font-size: 15px;
}
footer h4 {
  font-family: "shrikhand";
  font-size: 17px;
}
footer .fa-utensils {
  font-size: 15px;
  margin-right: 12px;
}
footer .fa-handshake-angle {
  font-size: 12px;
  margin-right: 9px;
}
footer .liste-footer {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

@-webkit-keyframes choix-1 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes choix-1 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes choix-2 {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes choix-2 {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes choix-3 {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes choix-3 {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.liste-entrees .choix-1 {
  -webkit-animation-name: choix-1;
          animation-name: choix-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-entrees .choix-2 {
  -webkit-animation-name: choix-2;
          animation-name: choix-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-entrees .choix-3 {
  -webkit-animation-name: choix-3;
          animation-name: choix-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.liste-plats .choix-1 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: choix-1;
          animation-name: choix-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-plats .choix-2 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: choix-2;
          animation-name: choix-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-plats .choix-3 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: choix-3;
          animation-name: choix-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.liste-desserts .choix-1 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: choix-1;
          animation-name: choix-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-desserts .choix-2 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: choix-2;
          animation-name: choix-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.liste-desserts .choix-3 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: choix-3;
          animation-name: choix-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes deplacement-gauche {
  0% {
    transform: translateX(0px);
    width: 0px;
  }
  100% {
    transform: translateX(-65px);
    width: 80px;
  }
}

@keyframes deplacement-gauche {
  0% {
    transform: translateX(0px);
    width: 0px;
  }
  100% {
    transform: translateX(-65px);
    width: 80px;
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.choix-carte .animation-selection {
  position: relative;
  left: 80px;
  top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 78px;
  margin-bottom: -32px;
  background-color: #99e2d0;
  -webkit-animation: all 1s ease;
          animation: all 1s ease;
}
.choix-carte .fa-circle-check {
  background-color: white;
  border-radius: 50%;
  font-size: 28px;
  border: 3px solid #99e2d0;
  width: 26px;
}
.choix-carte:hover .animation-selection {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-name: deplacement-gauche;
          animation-name: deplacement-gauche;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.choix-carte:hover .fa-circle-check {
  display: inline-block;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  color: #99e2d0;
  background-color: white;
  -webkit-animation-duration: 450ms;
          animation-duration: 450ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.icon-coeur {
  border: none;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 25px 0 0;
  width: 60px;
  color: #7e7e7e;
  cursor: pointer;
}
.icon-coeur .fa-solid {
  display: none;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(0deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}

@-webkit-keyframes grandissement {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grandissement {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
.icon-coeur:hover .fa-regular {
  display: none;
}
.icon-coeur:hover .fa-beat {
  -webkit-animation-name: grandissement;
          animation-name: grandissement;
  display: flex;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body {
  margin: 0;
  font-family: "roboto";
}

header {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: -10px 30px;
}
header button {
  border-style: none;
  background-color: white;
}
header a {
  text-decoration: none;
  cursor: pointer;
}
header .titre {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -50px;
  font-family: "Shrikhand";
}

article img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  max-height: 340px;
  margin-bottom: -26px;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 820px) and (max-width: 1000px) {
  article img {
    max-height: 450px;
  }
}
@media screen and (min-width: 1000px) {
  article img {
    max-height: 500px;
    -o-object-position: center;
       object-position: center;
  }
}
article .carte-restaurant {
  background-color: #f6f6f6;
  border-radius: 20px 20px;
}
@media screen and (min-width: 1000px) {
  article .carte-restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
article .carte-restaurant .commander {
  width: 100%;
  display: flex;
  justify-content: center;
}
article .carte-restaurant button {
  background: rgb(255, 121, 218);
  background: linear-gradient(170deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 80%);
  padding: 15px 25px;
  border-radius: 30px 30px;
  font-size: 16px;
  width: 180px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 20px 0 60px 0;
}
article .titre-restaurant {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 20px;
  margin-right: 60px;
  font-family: "Shrikhand";
  font-size: 20px;
  width: 100%;
}
article .titre-restaurant i {
  color: #7e7e7e;
  font-size: 30px;
  padding-right: 20px;
}

.liste {
  margin: 0 40px 10px 20px;
}
@media screen and (min-width: 1000px) {
  .liste {
    width: 28%;
    margin: 0 3% 0 20px;
  }
}
.liste h3 {
  font-weight: 300;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.liste h3 span {
  padding-bottom: 5px;
  border-bottom: 4px solid #99e2d0;
}
.liste .choix-carte {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px 20px;
  box-shadow: 3px 3px 10px #eaeaea;
  padding: 15px 15px 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.liste .description {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}
.liste .descriptif-prix {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.liste .prix {
  margin-left: auto;
  padding-left: 15px;
  margin-right: 10px;
}
.liste h4 {
  font-size: 18px;
  margin: 0 -10px -10px 0;
  font-weight: bold;
}/*# sourceMappingURL=page-restaurant.css.map */