@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');
@import "_couleur.scss";
@import "_header&footer.scss";
@import "_animation-choix-carte.scss";
@import "_validation-menu.scss";
@import "_icon-coeur.scss";

body{
    margin:0;
    font-family: 'roboto';
}

header{
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: -10px 30px;
    
    button{
        border-style: none;
        background-color:white;
       
    }
    a{
        text-decoration: none;
         cursor: pointer;
    }
    .titre{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: -50px;
        font-family: 'Shrikhand';
    }
}

article{

    img{
        @media screen and (min-width:820px)and (max-width:1000px){
            max-height: 450px;
        }
        @media screen and (min-width:1000px){
            max-height: 500px;
            object-position: center;
        }
        object-fit: cover;
        object-position: bottom;
        width: 100%; 
        max-height:340px;
        margin-bottom: -26px;
        position : relative;
        z-index: -1  ;
        
    }
    .carte-restaurant{
        background-color: $color-gris-clair;
        border-radius: 20px 20px;
        @media screen and (min-width: 1000px) {  
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        }
        
        
        .commander{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        button{
            background: rgb(255,121,218);
            background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 80%); 
            padding: 15px 25px;
            border-radius: 30px 30px;
            font-size: 16px;
            width: 180px;
            color  : white;
            border: none;
            cursor: pointer;
            margin: 20px 0 60px 0;  
            box-shadow: 0px 5px 10px #ccc;      
        }
        button:hover{
                    box-shadow: 5px 10px 10px #ccc;
                    background: linear-gradient(170deg, rgba(255, 147, 225, 1) 0%, rgba(168, 119, 227, 1) 80%);
                }
            
    }
    .titre-restaurant{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-left:20px;
        margin-right:60px;
        font-family: 'Shrikhand';
        font-size: 20px;
        width: 100%;
        
        i{
            color: $color-gris-icon;
            font-size: 30px;
            padding-right: 20px;
        }
    }
    
}

.liste{
    margin: 0 40px 10px 20px;
    @media screen and (min-width: 1000px) {   
        width: 28%; 
        margin: 0 3% 0 20px;
        }
    
    
    h3{
        font-weight: 300;
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        
        
        span{
            padding-bottom: 5px;
          border-bottom: 4px solid $color-vert-clair;  
        }        
    }

    .choix-carte{
        cursor: pointer;
        width: 100%;
        display: inline-block;
        flex-direction: column;  
        justify-content: space-between;
        background-color: white;
        border-radius: 20px 20px;
        box-shadow: 3px 3px 10px $color-gris; 
        padding: 15px 15px 0 10px;
        margin-bottom: 20px;
        overflow: hidden;
    }
   
    .description{
        animation-duration: 500ms;
        animation-timing-function: linear;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 80%;
    }

    .descriptif-prix{       
        display: flex;
        justify-content: space-between;
        width: 100%;       
    }   

    .prix{
        margin-left: auto;
        padding-left:15px;
        margin-right:10px;

    }

    h4{
        font-size: 18px;
        margin: 0 -10px -10px 0;
        font-weight: bold;
    }
    
  
}
