@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');

body{
    margin:0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2{
    font-size: 30px;
    font-weight: bolder;
}
p{
    font-weight: 100;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

header img {
    width:250px;
}
article{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    padding: 0 20px 0 20px;
}
div{
    width:100%;
}
.localisation{
    font-family: 'roboto',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(229, 227, 227);
    color: rgb(46, 46, 46) ;
    font-size: 15px;
}  
.fa-location-dot{
    margin-right: 30px;
} 

.presentation{
    text-align: center;
    background-color: #f2f2f2;
    height: 300px;
}
.presentation button{
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%); 
    padding: 15px 25px;
    border-radius: 30px 30px;
    font-size: 20px;
    color  : white;
    border: none;
}

section{
    width: 100%;
}

.etapes_commande{
    font-weight: bold;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 1px ;
    border-radius: 20px 20px;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    margin-left: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.etapes_commande i{
    margin: 0 20px;
}

.etapes_commande:hover{
    background-color:#f5c8ff24
}

.fa-list-ul, .fa-mobile-screen-button{
    color:rgb(130, 130, 130)
}

.fa-store{
    color: rgb(147,86,220);
}

span{
    color: rgb(147,86,220);
    font-weight: normal;
    margin-left: -10px;
}